.idea/
.gitignore
StructuresExplained/UI/__pycache__/
StructuresExplained/solutions/__pycache__/
StructuresExplained/pdfconfig/translations/__pycache__/
StructuresExplained/pdfconfig/__pycache__/
main.py
StructuresExplained/solutions/cross_section/__pycache__/
StructuresExplained/utils/__pycache__/
StructuresExplained/solutions/stress_states/__pycache__/
