.idea/
.gitignore
StructuresExplained/UI/__pycache__/
StructuresExplained/solutions/__pycache__/
StructuresExplained/pdfconfig/translations/__pycache__/
StructuresExplained/pdfconfig/__pycache__/
main.py
